:root.day-theme {

  --ms-tag-bg: #e7e3e3;
  --ms-tag-font-size: 0.875rem;
  --ms-tag-radius: 1em;
  --ms-border-width: 0px;
  --ms-tag-font-weight: 200;
  --ms-tag-color: #000;
  --ms-bg: #ffffff00;
  --ms-radius: 2em;
  --ms-ring-width: 0px;
  --ms-caret-color: #000000;
  --ms-clear-color: #000000;
  --ms-clear-color-hover: #c4341a;
  --ms-option-bg-pointed: #c7c7c7;
  --color-font-dropdown-filter: rgb(0, 0, 0);
  --ms-option-color-pointed: #ffffff;



  /* BASE FONTS */
  --font-text: Playfair, sans-serif;
  --nice-green: rgb(133, 228, 50);

  /* BASE COLORS */
  --cor-base: #424767;
  --cor-base-inverse: white;
  --cor-base-hover: #585e89;
  --cor-visible-over-base: #ffffff;
  /*  */
  --cor-text-base: #0d1b48;
  --cor-text-subbase: gray;
  --cor-destaque: #382471;
  --cor-clara: #907fa3;
  --cor-pastel: #735494;
  --cor-background-claro: #f4ebff;
  --cor-fonte: white;
  --cor-clarinha: #eae7fd;
  --cor-clarinha2: #e0dbfa;
  --golden: #ffb71b;
  --color-over-highlighted-content: #faf7f0;
  --color-highlighted-content: #8771c4;
  --table-dark-line: #f4f4f4;
  --table-ligh-line: #efefef;
  --card-footer-border-color: #edf0f7;
  --card-footer: #f5f9fe;
  --cor-footer-regular: #585e89;
  --cor-footer-darker: #424767;



  /* Calcula as cores mais escuras e mais claras */
  --cor-darken: color-mix(in srgb, var(--cor-base), #000 20%);
  --cor-lighten: color-mix(in srgb, var(--cor-base), #ffffff 60%);
  --app-bg-color: #edf2f9;
  --card-background: rgba(252, 252, 252, 0.761);
  --button-background: #f0f0f0;
  --header-background: #edf2f9e6;
  --scroll-bgcolor: rgb(230, 230, 230);

  --chip-color: rgb(246, 241, 241);








  /* New Version */
  --bg-theme: url("@/assets/images/main-bg-wide.jpg");
  --black-or-white-inverse-theme: black;


  --gray-5: #121212;
  --gray-10: #191919;
  --gray-15: #232323;
  --gray-20: #333;
  --gray-30: #545454;
  --gray-50: #757575;
  --gray-70: #bababa;
  --gray-80: #e0e0e0;
  --gray-90: #f3f3f3;
  --gray-95: #f2f2f2;

  --white: #fff;
  --beige-90: #f2f1ec;
  --beige-80: #e7e3da;
  --beige-60: #beb59d;
  --beige-50: #a99e7e;
  --yellow-90: #fff7e1;
  --yellow-80: #fee39a;
  --yellow-70: #f7d36e;
  --yellow-60: #fdc735;
  --brand-yellow: #f2b203;
  --brand-pink: #fcc;
  --red-80: #f8a1a3;
  --brand-red: #ff5d5d;
  --red-50: #d53939;
  --red-40: #b5262b;
  --red-60-dark-mode: #e06666;
  --purple-90: #f2ecf9;
  --purple-80: #dfd3ee;
  --purple-70-dark-mode: #b8a3d8;
  --purple-70: #ae92d3;
  --brand-purple: #7446af;
  --purple-30: #52327c;
  --purple-20: #301d49;
  --green-90: #eafaf4;
  --green-80: #c9f2e3;
  --green-70: #84e9bd;
  --brand-green-dark-mode: #84e9bd;
  --brand-green: #34e0a1;
  --green-40: #0fd28a;
  --green-30: #00aa6c;
  --green-10: #004f32;
  --brand-cream: #faf1ed;
  --cream-80: #dcd4d1;
  --primary-warning: #f73;
  --primary-danger: #c00;
  --primary-danger-dark-mode: #e06666;
  --michelin-red: #bd2333;
  --scrimImage: blur(4px);
  --shadowLarge: 0 2px 54px 0
}



:root.night-theme {

  --ms-tag-bg: var(--app-bg-color);
  --ms-tag-font-size: 0.875rem;
  --ms-tag-radius: 1em;
  --ms-border-width: 0px;
  --ms-tag-font-weight: 200;
  --ms-tag-color: #ffffff;
  --ms-bg: #ffffff0a;
  --ms-radius: 1em;
  --ms-ring-width: 0px;
  --ms-caret-color: var(--cor-base);
  --ms-clear-color: var(--cor-base);
  --ms-clear-color-hover: #b1b1b1;
  --ms-option-bg-pointed: var(--cor-base);
  --ms-option-color-pointed: #ffffff;
  --ms-dropdown-bg: #3b3b3b;
  --ms-option-color-selected: rgb(255, 255, 255);
  --ms-dropdown-color: #f90000;
  --ms-option-color-pointed: #006aff;
  --color-font-dropdown-filter: white;



  --font-text: 'DM Sans', sans-serif;
  --button-background: #000000;
  --cor-base: #639eec;
  --cor-base-inverse: rgb(0, 0, 0);
  --cor-visible-over-base: #000000;
  --cor-text-base: #bff0f6;
  --cor-text-subbase: gray;
  --cor-destaque: #4aadda;
  --cor-clara: #a5c6f0;
  --cor-pastel: #bde5f2;
  --cor-clara: #3c8cc4;
  --cor-pastel: #4aadda;
  --cor-background-claro: #f4ebff;
  --cor-fonte: rgb(224, 224, 224);
  --cor-clarinha: #eae7fd;
  --cor-clarinha2: #e0dbfa;
  --golden: #ffb71b;
  --color-over-highlighted-content: #faf7f0;
  --color-highlighted-content: #8771c4;
  --table-dark-line: #050c13;
  --table-light-line: #0b1a2a;
  --card-footer-border-color: #161e24;
  --card-footer: #161e24;
  --cor-footer-regular: rgb(18, 25, 34);
  --cor-footer-darker: rgb(15, 21, 29);
  --chip-color: #4aadda;
  /* Calcula as cores mais escuras e mais claras */
  --cor-darken: color-mix(in srgb, var(--cor-base), #000 20%);
  --cor-lighten: color-mix(in srgb, var(--cor-base), #ffffff 60%);
  --app-bg-color: #05080b;
  --card-background: #192428;
  --header-background: rgb(0, 0, 0);
  ;
  --scroll-bgcolor: rgb(50, 50, 50);





  /* New Version */

  --bg-theme: url("@/assets/images/main-bg-night-wide.jpg");
  --black-or-white-inverse-theme: white;
  --dark-blue-1: #192428;
  --dark-blue-2: #2d383c;
  --dark-blue-3: #414c50;
  --dark-blue-light-1: #0784b5;
  --dark-blue-light-2: #39ace7;

}