:root.day-theme {

  --ms-tag-bg: #e7e3e3;
  --ms-tag-font-size: 0.875rem;
  --ms-tag-radius: 1em;
  --ms-border-width: 0px;
  --ms-tag-font-weight: 200;
  --ms-tag-color: #000;
  --ms-bg: #ffffff00;
  --ms-radius: 2em;
  --ms-ring-width: 0px;
  --ms-caret-color: #000000;
  --ms-clear-color: #000000;
  --ms-clear-color-hover: #c4341a;
  --ms-option-bg-pointed: #0d1b48;
  --ms-option-color-pointed: #ffffff;
  --bg-theme: url("@/assets/images/main-bg-wide.jpg");


  /* BASE FONTS */
  --font-text: 'Poppins', sans-serif;
  --nice-green: rgb(133, 228, 50);

  /* BASE COLORS */
  --cor-base: #424767;
  --cor-base-inverse: white;
  --cor-base-hover: #585e89;
  --cor-visible-over-base: #ffffff;
  /*  */
  --cor-text-base: #0d1b48;
  --cor-text-subbase: gray;
  --cor-destaque: #382471;
  --cor-clara: #907fa3;
  --cor-pastel: #735494;
  --cor-background-claro: #f4ebff;
  --cor-fonte: white;
  --cor-clarinha: #eae7fd;
  --cor-clarinha2: #e0dbfa;
  --golden: #ffb71b;
  --color-over-highlighted-content: #faf7f0;
  --color-highlighted-content: #8771c4;
  --table-dark-line: #f4f4f4;
  --table-ligh-line: #efefef;
  --card-footer-border-color: #edf0f7;
  --card-footer: #f5f9fe;
  --cor-footer-regular: #585e89;
  --cor-footer-darker: #424767;



  /* Calcula as cores mais escuras e mais claras */
  --cor-darken: color-mix(in srgb, var(--cor-base), #000 20%);
  --cor-lighten: color-mix(in srgb, var(--cor-base), #ffffff 60%);
  --app-bg-color: #edf2f9;
  --card-background: rgba(252, 252, 252, 0.761);
  --button-background: #f0f0f0;
  --header-background: #edf2f9e6;
  --scroll-bgcolor: rgb(230, 230, 230);

  --chip-color: rgb(246, 241, 241);


}



:root.night-theme {
  --font-text: 'DM Sans', sans-serif;
  --button-background: #000000;
  --cor-base: #639eec;
  --cor-base-inverse: rgb(0, 0, 0);
  --cor-visible-over-base: #000000;
  --cor-text-base: #bff0f6;
  --cor-text-subbase: gray;
  --cor-destaque: #4aadda;
  --cor-clara: #a5c6f0;
  --cor-pastel: #bde5f2;
  --cor-clara: #3c8cc4;
  --cor-pastel: #4aadda;
  --cor-background-claro: #f4ebff;
  --cor-fonte: rgb(224, 224, 224);
  --cor-clarinha: #eae7fd;
  --cor-clarinha2: #e0dbfa;
  --golden: #ffb71b;
  --color-over-highlighted-content: #faf7f0;
  --color-highlighted-content: #8771c4;
  --table-dark-line: #050c13;
  --table-light-line: #0b1a2a;
  --card-footer-border-color: #161e24;
  --card-footer: #161e24;
  --cor-footer-regular: rgb(18, 25, 34);
  --cor-footer-darker: rgb(15, 21, 29);
  --chip-color: #4aadda;
  /* Calcula as cores mais escuras e mais claras */
  --cor-darken: color-mix(in srgb, var(--cor-base), #000 20%);
  --cor-lighten: color-mix(in srgb, var(--cor-base), #ffffff 60%);
  --app-bg-color: #05080b;
  --card-background: #192428;
  --header-background: rgb(0, 0, 0);
  ;
  --scroll-bgcolor: rgb(50, 50, 50);






  /* New Version */

  --bg-theme: url("@/assets/images/main-bg-night-wide.jpg");

  --dark-blue-1: #192428;
  --dark-blue-2: #2d383c;
  --dark-blue-3: #414c50;
  --dark-blue-light-1: #0784b5;
  --dark-blue-light-2: #39ace7;

}